{% raw %}
# Use this awesome Git Bash prompt (credits in the included file).
source $HOME/git_prompt.sh

# I like to use Sublime as my "terminal" editor (weird, I know).
export EDITOR='subl -w'
{% endraw %}
